<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggregator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-6 bg-gradient-to-r from-blue-200 to-blue-400">
   <div class="titlee center max-w-xl mx-auto">
       <h2 class="text-3xl mb-4 text-center">Agregador de noticias</h2>
       <h2 class="text-2xl mb-4 text-center">Prensa paraguaya</h2>
   </div>

   <div class="grid grid-cols-4 col-span-2 grid-rows-4 mb-4">

       {% for noticia in data["prensa_py"] %}
        <div class="grid m-2 elemento-noticia">
            <div class="bg-neutral-50/40 relative flex items-center space-x-3 rounded-lg border border-gray-700 px-6 py-5 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:bg-neutral-50/80">
                <div class="min-w-0 flex-1">
                    <a href="{{ noticia.url_noticia }}" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <h3 class="text-sm font-medium mb-2">{{ noticia["noticia_encabezado"] }}</h3>
                    <p class="truncate text-sm text-gray-700 diario_marca">{{ noticia["diario_marca"] }}</p>
                    </a>
                </div>
            </div>
    
    
        </div>
        {% endfor %}

   </div>

   <div class="titlee center max-w-xl mx-auto">
    <h2 class="text-2xl mb-4 text-center">Prensa internacional</h2>
</div>

<div class="grid grid-cols-4 col-span-2 grid-rows-4">

    {% for noticia in data["prensa_inter"] %}
     <div class="grid m-2 elemento-noticia">
         <div class=" bg-neutral-50/40 relative flex items-center space-x-3 rounded-lg border border-gray-700 px-6 py-5 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:bg-neutral-50/80">
             <div class="min-w-0 flex-1">
                 <a href="{{ noticia.url_noticia }}" class="focus:outline-none">
                 <span class="absolute inset-0" aria-hidden="true"></span>
                 <h3 class="text-sm font-medium mb-2">{{ noticia["noticia_encabezado"] }}</h3>
                 <p class="truncate text-sm text-gray-700 diario_marca">{{ noticia["diario_marca"] }}</p>
                 </a>
             </div>
         </div>
 
 
     </div>
     {% endfor %}
     
</div>

   <script>
    const diario_marca = document.querySelectorAll(".diario_marca")
    const elemento_noticia = document.querySelectorAll(".elemento-noticia")

   </script>


   
    

</body>
</html>